/slides
.DS_Store
/labs/Lab03/nbproject/private/
/labs/Lab03/build/
/labs/Lab04/nbproject/private/
/labs/Lab04/build/
/labs/LojaComercial/nbproject/private/
/labs/testeMi/nbproject/private/
/labs/testeMi/build/
/labs/NaveEspacial/nbproject/private/
/labs/NaveEspacial/build/
/labs/Prova1/nbproject/private/
/labs/Prova1/build/
