/slides
.DS_Store
/extras
/labs/Lab03/nbproject/private/
/labs/Lab03/build/
/labs/Lab04/nbproject/private/
/labs/Lab04/build/
/labs/LojaComercial/nbproject/private/
/labs/testeMi/nbproject/private/
/labs/testeMi/build/
/labs/NaveEspacial/nbproject/private/
/labs/NaveEspacial/build/
/labs/Prova1
/labs/LabPolimorfismo/nbproject/private/
/labs/Lab05/nbproject/private/
/labs/Lab05/build/
/labs/Lab06/nbproject/private/
/labs/Lab06/build/
/labs/Lab07/nbproject/private/
/labs/Lab07/build/
/labs/ClinicaMedica/nbproject/private/
/labs/arquivos2.0/build/
/labs/arquivos2.0/dist/
/labs/arquivos2.0/nbproject/private/
